#services {
  background-color: var(--color-gray-900);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  bottom: -6rem;
}

#services > h1 {
  color: white;
  margin: 1rem;
}
#services > p {
  margin: 1rem;
}

.services__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6rem;
  margin-top: 4rem;
}

hr {
  border: 0.1rem solid #fff;
  width: 100vw;
}

.services__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-right: 0.2rem solid #fff;
}

.services__left li {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--radius-4);
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.howImage {
  transform: rotateX(70deg) rotateZ(0deg);
  transform-style: preserve-3d;
  border-radius: 1rem;
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 white;
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
}

.howImage:hover {
  transform: translate3d(0px, -16px, 0px) rotateX(0deg) rotateZ(0deg);
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    54px 54px 28px -10px white;
}

li.service__item.account:active {
  border-right: 0.2rem solid lime;
  margin-right: 0.5rem;
}

li.service__item.blog:active {
  border-right: 0.2rem solid lime;
  margin-right: 0.5rem;
}
li.service__item.viewlike:active {
  border-right: 0.2rem solid lime;
  margin-right: 0.5rem;
}

.services__left li:hover,
.services__left li.active {
  background: var(--color-gray-200);
}

.services__left li span {
  background: var(--color-primary);
  color: var(--color-gray-100);
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.3rem;
}
.services__left li h3 {
  color: white;
  margin-bottom: 0.5rem;
}

.services__right {
  border-left: 1px solid var(--color-gray-300);
  padding-left: 6rem;
}

.services__right h3 {
  color: white;
  margin-bottom: 1.5rem;
}

.services__right p {
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 800px) {
  .services__container {
    display: grid;
    gap: 6rem;
    margin-top: 4rem;
  }

  .services__right {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid var(--color-gray-300);
  }
}
