@import "../../index.css";

.chatbot-container {
  position: fixed;
  top: 10rem;
  border: 0.1rem solid var(--color-primary);
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 1rem;
  width: 15rem;
}

.chatbot-messages {
  max-height: 200px;
  overflow-y: auto;
}

.chatbot-message {
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: 5px 10px;
  margin: 5px 0;
}

.chatbot-options {
  margin-bottom: 1rem;
}

.chatbot-options button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
}

.chatbot-options button:hover {
  background-color: #ff6a00;
}

.chatbot-close-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  margin: 5px;
  cursor: pointer;
  outline: none;
}

.chatbot-close-button:hover {
  background-color: #cc0000;
}
